.swiper-slide{
    height: 500px;
    width: 100%;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.swiper{
    border-radius:40px;
    overflow: hidden;

    .swiper-button-next , .swiper-button-prev{
        color:var(--blue-color);
    }
    
    .swiper-pagination{
        .swiper-pagination-bullet{
            background:#1b1e24;
        }
        .swiper-pagination-bullet-active{
            background:var(--blue-color);
        }
    }
}