:root{
  --blue-color:#f7ef47;
  --body-color: #101010;
  --heading-color: #1f1f25;
  --border-color: #d4d4d4;
  --color-active-nav:#0368ff;
  --white:#fff;
  --text-color:#c6c9d8;
}

* {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background:var(--heading-color);
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
